# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
# Other files and directories
*.suo
*.user
*.ncb
*.aps
*.vspscc
*.vssscc
*.obj
*.pch
*.pdb
*.log
*.dll
*.exe
*.bak
*.cache
*.ilk
*.meta
*.obj
*.tlog
*.tlog/
*.log/
*.vspx
*.vsp
*.psess
*.vspc
ipch/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.deploy
*.pubxml
*.Publish.xml
*.cache
*.tgz
*.tar.gz
*.webp
*.woff
*.woff2
*.otf
*.ttf
*.eot
*.map
*.ico
*.gif
*.jpg
*.jpeg
*.png
*.bmp
*.svg
*.pdf
*.zip
*.7z
*.rar
.vs/
.vscode/
*.sln.docstates
*.sln.ide-wal
*.sln.ide-wal-int
*.suo
*.sdf
*.sln.docstates
*.sln.ide-wal
*.sln.ide-wal-int
.vs/
.vscode/
*.sln.docstates
*.sln.ide-wal
*.sln.ide-wal-int